@charset "utf-8";

/**
 * Font
 */

@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.ttf') format('truetype');
}

/**
 * Frame
 */

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/**
 * Each
 */

.app-frame {
  background-color: white;
  display: -webkit-flex;
  width: 100%;
  height: 100%;
}

.app-frame .app-side {
  width: 280px;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-border-end: solid 1px #e4e4e4;
  -webkit-flex: none;
  overflow: hidden;
}

.app-frame .app-side-body {
  padding: 40px 20px 0 20px;
  -webkit-flex: auto;
}

.app-frame .app-icon {
  background-position: center;
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  margin: auto;
}

.app-frame .app-copy,
.app-frame .app-sub-copy,
.app-frame .sec-header-text,
.app-frame .app-hint-title {
  font: 22px/24px 'OpenSans-Light', sans-serif;
}

.app-frame .app-copy {
  text-align: center;
}

.app-frame .app-sub-copy {
  font-family: 'OpenSans-Regular', sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}

.app-frame .app-description,
.app-frame .sec-description,
.app-frame .app-hint-description {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #777;
}

.app-frame .app-description {
  margin-top: 24px;
}

.app-frame .sec-header {
  display: -webkit-flex;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.app-frame .sec-header-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  -webkit-flex: none;
  -webkit-margin-end: 8px;
}

.app-frame .app-side-footer {
  -webkit-flex: none;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: bottom;
  -webkit-transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1.0);
  background-color: #f1f1f1;
  bottom: 0;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  padding: 24px;
  z-index: 1;
  position: relative;
  margin-bottom: -159px;
}

.app-frame .app-hint-title {
  color: white;
  margin-bottom: 18px;
}

.app-frame .app-hint-description {
  color: white;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
}

.app-frame .app-side-footer:hover {
  bottom: 159px;
}

.app-frame .app-side-footer:hover .app-hint-description {
  opacity: 1;
}

.app-frame .app-main {
  -webkit-flex: 1 0 auto;
  background-color: #f1f1f1;
  position: relative;
}

.app-frame .app-main.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  /**
   * Force the element to have its own layer.
   * This prevents the browser form repainting the element when fixed elements
   * are overlapped to the element.
   */
  -webkit-transform: translateZ(0);
}

.app-frame .close {
  width: 24px;
  height: 24px;
  border-style: none;
  position: absolute;
  top: 16px;
  z-index: 1;
  opacity: 0.8;
  background-color: transparent;
  background-image:
      -webkit-image-set(url(close-1x.png) 1x, url(close-2x.png) 2x);
  outline: none;
}

[dir=ltr] .app-frame .close {
  right: 32px;
}

[dir=rtl] .app-frame .close {
  left: 32px;
}

.app-frame .close:hover {
  opacity: 1.0;
}

/**
 * Balloon
 */

.balloon-holder {
  position: relative;
}

.balloon {
  -webkit-box-sizing: border-box;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: opacity;
  background-color: black;
  color: white;
  display: block;
  font: 13px/20px 'OpenSans-regular', sans-serif;
  opacity: 0;
  padding: 12px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.balloon::after {
  display: block;
  content: '';
  position: absolute;
}

.balloon-holder:hover .balloon {
  opacity: 1;
}

.balloon.triangle-top {
  top: 100%;
  margin-top: 13px;
}

.balloon-holder:active .balloon.triangle-top {
  -webkit-transform: translate(0, 4px);
}

.balloon.triangle-top::after {
  background-image: -webkit-image-set(
      url(balloon-triangle-top-1x.png) 1x,
      url(balloon-triangle-top-2x.png) 2x);
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  bottom: 100%;
}

.balloon.triangle-bottom {
  bottom: 100%;
  margin-bottom: 13px;
}

.balloon-holder:active .balloon.triangle-bottom {
  -webkit-transform: translate(0, -4px);
}

.balloon.triangle-bottom::after {
  background-image: -webkit-image-set(
      url(balloon-triangle-bottom-1x.png) 1x,
      url(balloon-triangle-bottom-2x.png) 2x);
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  top: 100%;
}

[dir=ltr] .balloon.triangle-left {
  left: 100%;
  margin-left: 13px;
}

[dir=ltr] .balloon-holder:active .balloon.triangle-left {
  -webkit-transform: translate(4px, 0);
}

[dir=rtl] .balloon.triangle-left {
  right: 100%;
  margin-right: 13px;
}

[dir=rtl] .balloon-holder:active .balloon.triangle-left {
  -webkit-transform: translate(-4px, 0);
}

.balloon.triangle-left::after {
  top: 50%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
}

[dir=ltr] .balloon.triangle-left::after {
  background-image: -webkit-image-set(
      url(balloon-triangle-left-1x.png) 1x,
      url(balloon-triangle-left-2x.png) 2x);
  right: 100%;
}

[dir=rtl] .balloon.triangle-left::after {
  background-image: -webkit-image-set(
      url(balloon-triangle-right-1x.png) 1x,
      url(balloon-triangle-right-2x.png) 2x);
  left: 100%;
}

/**
 * Sup
 * This is for preventing that the line height is changed by the sup tag.
 */

sup {
  vertical-align: baseline;
  position: relative;
}

.app-hint-title sup {
  font-size: 70%;
  bottom: 5px;
}

.sec-description sup,
.app-hint-description sup {
  font-size: 80%;
  bottom: 3px;
}

/**
 * Context menu
 */

#context-menu {
  position: absolute;
  display: none;
  background-color: white;
  z-index: 2;
}

#context-menu.active {
  display: block;
}

.context-menu-item {
  display: block;
  font: 13px/13px 'OpenSans-Regular', sans-serif;
  color: #666;
  padding: 8px;
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  white-space: pre;
}

.context-menu-item:hover {
  color: black;
}

.context-menu-item:active {
  background-color: #ccc;
}

.no-break {
  white-space: nowrap;
}
