#docs-app .app-icon {
  background-image: -webkit-image-set(
      url('docs-icon-64.png') 1x,
      url('docs-icon-128.png') 2x);
}

#docs-app .sec-header-icon.group {
  background-image: url('docs-section-group-2x.png');
}

#docs-app .sec-header-icon.backup {
  background-image: url('docs-section-backup-2x.png');
}

#docs-app .sec-header-icon.anywhere {
  background-image: url('docs-section-anywhere-2x.png');
}

#docs-app .app-side-footer {
  background-color: #2a70e8;
}

#docs-app .docs-header {
  width: 800px;
  display: -webkit-flex;
  -webkit-flex: none;
}

#docs-app .docs-header-left {
  width: 400px;
}

#docs-app .docs-title {
  font-size: 22px;
  margin-bottom: 16px;
  font-face: 'Arial';
}

#docs-app .docs-menu {
  display: -webkit-flex;
  color: #777;
}

#docs-app .docs-menu > * {
  width: 23px;
  -webkit-margin-end: 16px;
  font-face: 'Arial';
  font-size: 13px;
}

#docs-app .docs-header-right {
  width: 320px;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
}

#docs-app .user-icon {
  width: 32px;
  height: 32px;
  -webkit-margin-end: 4px;
  background-color: ccc;
  border: 1px #999 solid;
  box-sizing: border-box;
}

#docs-app .share {
  height: 24px;
  width: 64px;
  -webkit-margin-start: 16px;
}

#docs-app .docs-toolbar {
  width: 800px;
  height: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px #ccc solid;
  background-color: #f8f8f8;
  box-sizing: border-box;
  -webkit-flex: none;
}

#docs-app .paper-container {
  -webkit-flex: auto;
  width: 800px;
  display: -webkit-flex;
  position: relative;
}

#docs-app .paper {
  -webkit-flex: auto;
  background-color: white;
  border: 1px #ccc solid;
  box-sizing: border-box;
  padding: 64px;
  outline: none;
  overflow: hidden;
  white-space: pre;
}

#docs-app .cursor {
  background-color: orange;
  display: none;
  width: 2px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-left: 0;
}

#docs-app .cursor.active {
  display: block;
}

#docs-app .cursor.stop {
  background-color: red;
  display: block;
}

#docs-app .cursor::after {
  content: attr(user-name);
  display: inline;
  font-size: 10px;
  line-height: 12px;
  background-color: orange;
  position: absolute;
  white-space: nowrap;
  left: -4px;
  top: -14px;
  padding: 1px;
  pointer-events: none;
}
