#docs-app .app-icon {
  background-image: url('docs-icon-128.png');
}

#docs-app .docs-main {
  width: 720px;
  -webkit-flex: auto;
  margin: 0 auto;
  display: -webkit-flex;
  -webkit-flex-flow: column;
}

#docs-app .docs-header {
  widht: 100%;
  display: -webkit-flex;
  -webkit-flex: none;
}

#docs-app .docs-header-left {
  width: 400px;
}

#docs-app .docs-title {
  font-size: 22px;
  margin-bottom: 16px;
  color: #555;
}

#docs-app .docs-menu {
  font-size: 14px;
  display: -webkit-flex;
  color: #777;
}

#docs-app .docs-menu > * {
  -webkit-margin-end: 16px;
}

#docs-app .docs-header-right {
  width: 320px;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
}

#docs-app .user-icon {
  width: 32px;
  height: 32px;
  -webkit-margin-end: 4px;
  background-color: ccc;
  border: 1px #999 solid;
  box-sizing: border-box;
}

#docs-app .share {
  height: 24px;
  width: 64px;
  -webkit-margin-start: 16px;
}

#docs-app .docs-toolbar {
  width: 100%;
  height: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px #ccc solid;
  background-color: #f8f8f8;
  box-sizing: border-box;
  -webkit-flex: none;
}

#docs-app .paper-container {
  -webkit-flex: auto;
  display: -webkit-flex;
  position: relative;
}

#docs-app .paper {
  -webkit-flex: auto;
  background-color: white;
  border: 1px #ccc solid;
  border-bottom-style: none;
  box-sizing: border-box;
  padding: 64px;
  outline: none;
  overflow: hidden;
  white-space: pre;
}

#docs-app .cursor {
  background-color: orange;
  display: none;
  width: 2px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-left: 0;
}

#docs-app .cursor.active {
  display: block;
}

#docs-app .cursor.stop {
  background-color: red;
  display: block;
}

#docs-app .cursor::after {
  content: attr(user-name);
  display: inline;
  font-size: 10px;
  line-height: 12px;
  background-color: orange;
  position: absolute;
  white-space: nowrap;
  left: -4px;
  top: -14px;
  padding: 1px;
  pointer-events: none;
}
