#hangouts-app .app-icon {
  background-image: -webkit-image-set(
      url('hangouts-icon-64.png') 1x,
      url('hangouts-icon-128.png') 2x);
}

#hangouts-app .sec-header-icon.group {
  background-image: url('hangouts-section-group-2x.png');
}

#hangouts-app .sec-header-icon.everywhere {
  background-image: url('hangouts-section-everywhere-2x.png');
}

#hangouts-app .sec-header-icon.fun {
  background-image: url('hangouts-section-fun-2x.png');
}

#hangouts-app .app-side-footer {
  background-color: #50aa38;
  color: white;
}

.button-container {
  display: -webkit-flex;
  -webkit-flex: none;
  width: 760px;
  -webkit-align-self: center;
}

.button {
  display: -webkit-flex;
  -webkit-flex: none;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  -webkit-margin-end: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
}

.effects.button {
  background-color: white;
}

.invite.button {
  -webkit-margin-end: 0px;
}

.space {
  -webkit-flex: 1 0 0;
}

.button-icon {
  width: 25px;
  height: 25px;
  background-size: contain;
  margin: 0 8px 0 8px;
  -webkit-flex: none;
}

.button-label {
  margin-top: 1px;
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 15px;
  color: #8d8d8d;
}

.button .balloon {
  width: 350px;
  left: -100px;
}

.effects.button .button-icon {
  background-image: url('hangouts-button-effects-2x.png');
}

.screenshare.button .button-icon {
  background-image: url('hangouts-button-screenshare-2x.png');
}

.add.button .button-icon {
  background-image: url('hangouts-button-add-2x.png');
}

.invite.button .button-icon {
  background-image: url('hangouts-button-invite-2x.png');
}

.video-container {
  width: 720px;
  margin-top: 40px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(206, 206, 206, 0.75);
  padding: 20px;
  -webkit-align-self: center;
  -webkit-flex: none;
}

.video-source {
  display: none;
}

.video-canvas {
  background-color: #ccc;
  margin-bottom: -4px;
}

.people-container {
  width: 720px;
  margin-top: 40px;
  display: -webkit-flex;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(206, 206, 206, 0.75);
  -webkit-align-self: center;
  padding: 20px;
  -webkit-flex: none;
}

.people {
  -webkit-flex: none;
  background-color: #ccc;
  width: 165px;
  height: 124px;
  -webkit-margin-end: 20px;
}

.people:last-child {
  -webkit-margin-end: 0px;
}

.people-container .balloon {
  width: 350px;
  left: 205px;
}
