@charset "utf-8";

#hangouts-app .app-icon {
  background-image: -webkit-image-set(
      url(hangouts-icon-64.png) 1x,
      url(hangouts-icon-128.png) 2x);
}

#hangouts-app .sec-header-icon.group {
  background-image: -webkit-image-set(
      url(hangouts-section-group-1x.png) 1x,
      url(hangouts-section-group-2x.png) 2x);
}

#hangouts-app .sec-header-icon.nohassle {
  background-image: -webkit-image-set(
      url(hangouts-section-nohassle-1x.png) 1x,
      url(hangouts-section-nohassle-2x.png) 2x);
}

#hangouts-app .sec-header-icon.fun {
  background-image: -webkit-image-set(
      url(hangouts-section-fun-1x.png) 1x,
      url(hangouts-section-fun-2x.png) 2x);
}

#hangouts-app .app-side-footer {
  background-color: #50aa38;
  color: white;
}

#hangouts-main {
  overflow: auto;
}

.button-container {
  display: -webkit-flex;
  width: 840px;
  margin: 40px auto 0;
}

.button {
  -webkit-box-sizing: border-box;
  -webkit-flex: none;
  -webkit-margin-end: 10px;
  background-color: #f1f1f1;
  border-radius: 2px;
  border: 1px solid rgba(206,206,206,0.3);
  display: -webkit-flex;
  height: 50px;
  outline: none;
  width: 150px;
}

.effects.button {
  background-color: white;
  border: none;
  box-shadow: 0 0 2px 0 rgba(206,206,206,0.75);
  cursor: pointer;
}

.effects.button:focus,
.effects.button:hover,
.effects.button.waiting {
  box-shadow: 0 0 2px 0 rgba(80,150,56,0.75);
}

.invite.button {
  -webkit-margin-end: 0px;
}

.space {
  -webkit-flex: 1 0 0;
}

.button-icon {
  width: 25px;
  height: 25px;
  background-size: contain;
  margin: 0 8px 0 8px;
  -webkit-flex: none;
}

.button-label {
  margin-top: 1px;
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 15px;
  color: #8d8d8d;
}

.button .balloon {
  width: 350px;
  left: -100px;
}

.effects.button .button-icon {
  background-image: url(hangouts-button-effects-2x.png);
}

.screenshare.button .button-icon {
  background-image: url(hangouts-button-screenshare-2x.png);
}

.add.button .button-icon {
  background-image: url(hangouts-button-add-2x.png);
}

.invite.button .button-icon {
  background-image: url(hangouts-button-invite-2x.png);
}

.video-container {
  width: 800px;
  height: 450px;
  margin: 40px auto 0;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(206, 206, 206, 0.75);
  padding: 20px;
  position: relative;
}

.video-source {
  display: none;
}

.video-canvas {
  display: block;
  background-color: #ccc;
  margin: 0 auto;
}

.video-shadow {
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.6);
  width: 800px;
  height: 450px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.people-container {
  width: 800px;
  margin: 40px auto;
  display: -webkit-flex;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(206, 206, 206, 0.75);
  padding: 20px;
}

.people {
  -webkit-flex: none;
  background: no-repeat center/contain;
  width: 185px;
  height: 104px;
  -webkit-margin-end: 20px;
}

.people:last-child {
  -webkit-margin-end: 0px;
}

.people.robertdo {
  background-image: url(hangouts-people-robertdo.png);
}

.people.erican {
  background-image: url(hangouts-people-erican.png);
}

.people.mikefox {
  background-image: url(hangouts-people-mikefox.png);
}

.people.nicholasritz {
  background-image: url(hangouts-people-nicholasritz.png);
}

.people-container .balloon {
  width: 350px;
  left: 165px;
}

/**
 * For small monitors
 */

@media all and (max-height: 844px) {
  .button-container,
  .video-container {
    margin-top: 20px;
  }
  .people-container {
    margin: 20px auto;
  }
}
