/**
 * Default rule reset.
 */

h1, p {
  margin: 0;
  font-weight: normal;
}

* {
  -webkit-user-select: none;
  cursor: default;
}

/**
 * Element
 */

#menu-app {
  width: 100%;
  height: 100%;
}

#menu-app.transparent {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

#menu-window {
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  overflow: hidden;
}

#menu-app.loading #menu-window {
  display: none;
}

#menu-app.transparent #menu-window {
  width: 800px;
  height: 600px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.menu-header {
  padding: 16px 32px 96px 32px;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.logo {
  width: 165px;
  height: 29px;
  background-image: url('menu-logo-2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-flex: none;
}

#menu-window .close {
  position: static;
}

.message {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 8px;
}

.description {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #8c8c8e;
  text-align: center;
  -webkit-flex: 1 0 auto;
  white-space: pre;
}

.bottom-frame {
  background-color: #f5f5f5;
  height: 260px;
  border-top: 1px solid rgba(20, 20, 22, .05);
  border-radius: 0 0 5px 5px;
}

#menu-app .buttons-layout {
  display: -webkit-flex;
  margin-top: 32px;
}

@-webkit-keyframes pop-in {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

.button, .learn-more {
  position: relative;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation: pop-in 0.8s cubic-bezier(0.130, 0.250, 0.515, 2.50);
}

.button {
  width: 160px;
  height: 175px;
  background-color: #fafafa;
  -webkit-margin-start: 32px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.docs.button {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.5s;
}

.hangouts.button {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.7s;
}

.music.button {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.9s;
}

.store.button {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 1.1s;
}

.learn-more {
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 1.3s;
}

.button * {
  pointer-events: none;
}

.button-icon {
  width: 160px;
  height: 125px;
  background-size: 64px 64px;
  background-position: center;
  background-repeat: no-repeat;
}

.docs.button .button-icon {
  background-image: -webkit-image-set(
      url('docs-icon-64.png') 1x,
      url('docs-icon-128.png') 2x);
}

.hangouts.button .button-icon {
  background-image: -webkit-image-set(
      url('hangouts-icon-64.png') 1x,
      url('hangouts-icon-128.png') 2x);
}

.music.button .button-icon {
  background-image: -webkit-image-set(
      url('music-icon-64.png') 1x,
      url('music-icon-128.png') 2x);
}

.store.button .button-icon {
  background-image: -webkit-image-set(
      url('store-icon-64.png') 1x,
      url('store-icon-128.png') 2x);
}

.button-label {
  width: 160px;
  height: 50px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 18px;
  line-height: 50px;
  overflow: hidden;
  -webkit-user-select: none;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0;
  -webkit-transition-property: border-bottom-width;
  -webkit-transition-duration: 200ms;
}

.docs.button .button-label {
  border-bottom-color: #2a70e8;
}

.hangouts.button .button-label {
  border-bottom-color: #50aa38;
}

.music.button .button-label {
  border-bottom-color: #facf0c;
}

.store.button .button-label {
  border-bottom-color: #e14b40;
}

.button:hover .button-label,
.button.rotated .button-label {
  border-bottom-width: 4px;
}

.learn-more {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #8c8c8c;
  -webkit-user-select: none;
  cursor: pointer;
  line-height: 54px;
}

.learn-more:hover {
  color: black;
}

.shelf-marker {
  width: 48px;
  height: 0;
  position: absolute;
  bottom: 0;
  -webkit-transition-property: height;
  -webkit-transition-duration: 200ms;
}

#menu-app:not(.transparent) .shelf-marker {
  display: none;
}

.docs.shelf-marker {
  left: 8px;
  background-color: #2a70e8;
}

.hangouts.shelf-marker {
  left: 60px;
  background-color: #50aa38;
}

.music.shelf-marker {
  left: 112px;
  background-color: #facf0c;
}

.store.shelf-marker {
  left: 164px;
  background-color: #e14b40;
}

.docs.button:hover ~ .docs.shelf-marker,
.docs.button.rotated ~ .docs.shelf-marker,
.hangouts.button:hover ~ .hangouts.shelf-marker,
.hangouts.button.rotated ~ .hangouts.shelf-marker,
.music.button:hover ~ .music.shelf-marker,
.music.button.rotated ~ .music.shelf-marker,
.store.button:hover ~ .store.shelf-marker,
.store.button.rotated ~ .store.shelf-marker {
  height: 4px;
}
