@charset "utf-8";

/**
 * Font
 */

@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('Roboto-ThinItalic.ttf') format('truetype');
}

/**
 * Element
 */

#music-app .app-icon {
  background-image: -webkit-image-set(
      url(music-icon-64.png) 1x,
      url(music-icon-128.png) 2x);
}

#music-app .sec-header-icon.upload {
  background-image: -webkit-image-set(
      url(music-section-upload-1x.png) 1x,
      url(music-section-upload-2x.png) 2x);
}

#music-app .sec-header-icon.anywhere {
  background-image: -webkit-image-set(
      url(music-section-anywhere-1x.png) 1x,
      url(music-section-anywhere-2x.png) 2x);
}

#music-app .sec-header-icon.unlimited {
  background-image: -webkit-image-set(
      url(music-section-unlimited-1x.png) 1x,
      url(music-section-unlimited-2x.png) 2x);
}

#music-app .app-side-footer {
  background-color: #facf0c;
}

#music-app .app-hint-title {
  color: black;
}

#music-app .app-hint-description {
  color: black;
}

#music-app .message-bar {
  margin: 40px auto 0;
  height: 40px;
  width: 840px;
  background-color: white;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 18px;
  color: #777;
  line-height: 40px;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
}

#music-app .music-main-body {
  display: -webkit-flex;
  margin: 40px auto;
  width: 840px;
}

#music-app .side-button-container {
  width: 130px;
  -webkit-margin-end: 40px;
  -webkit-flex: none;
}

.side-button {
  -webkit-box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 2px;
  border: 1px solid rgba(206,206,206,0.3);
  color: #777;
  display: block;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 18px;
  height: 45px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
}

.side-button.selected {
  color: orange;
}

.side-button .balloon {
  top: -10px;
  width: 200px;
}

[dir=ltr] .side-button .balloon {
  right: -211px;
}

[dir=rtl] .side-button .balloon {
  left: -211px;
}

#music-app .music-container {
  width: 680px;
  -webkit-flex: none;
  margin-bottom: -10px;
}

#music-app .music-container::after {
  content: '';
  clear: both;
}

#music-app .music {
  width: 160px;
  height: 245px;
  background-color: white;
  -webkit-margin-end: 10px;
  margin-bottom: 10px;
  float: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

#music-app .music.main {
  width: 330px;
  height: 500px;
}

#music-app .album-cover {
  width: 160px;
  height: 160px;
  -webkit-flex: none;
}

#music-app .music.main .album-cover {
  width: 330px;
  height: 330px;
  position: relative;
}

.music.lumineers .album-cover {
  background-image: url(music-cover-lumineers.jpg);
}

.music.war .album-cover {
  background-image: url(music-cover-war.png);
}

.music.vivaldi .album-cover {
  background-image: url(music-cover-vivaldi.png);
}

.music.maroon5 .album-cover {
  background-image: url(music-cover-maroon5.jpg);
}

.music.florence .album-cover {
  background-image: url(music-cover-florence.jpg);
}

.music.blake-shelton .album-cover {
  background-image: url(music-cover-blake-shelton.jpg);
}

.music.tiesto .album-cover {
  background-image: url(music-cover-tiesto.jpg);
}

.music.mika .album-cover {
  background-image: url(music-cover-mika.jpg);
}

.music.one-republic .album-cover {
  background-image: url(music-cover-one-republic.jpg);
}

.music.muse .album-cover {
  background-image: url(music-cover-muse.png);
}

.music.frank-ocean .album-cover {
  background-image: url(music-cover-frank-ocean.jpg);
}

.music.imagine-dragons .album-cover {
  background-image: url(music-cover-imagine-dragons.jpg);
}

.music.the-doors .album-cover {
  background-image: url(music-cover-the-doors.png);
}

.music.tegan-and-sara .album-cover {
  background-image: url(music-cover-tegan-and-sara.png);
}

.music.ellie-goulding .album-cover {
  background-image: url(music-cover-ellie-goulding.jpg);
}

.play-control {
  width: 100%;
  height: 100%;
  background: -webkit-image-set(
      url(music-play-control-1x.png) 1x,
      url(music-play-control-2x.png) 2x)
      no-repeat center;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  cursor: pointer;
  outline: none;
}

.play-control:active {
  opacity: 1.0;
}

.music.play .play-control {
  background-image: -webkit-image-set(
      url(music-pause-control-1x.png) 1x,
      url(music-pause-control-2x.png) 2x);
}

.equalizer {
  width: 24px;
  height: 24px;
  background-image: -webkit-image-set(
      url(music-equalizer-1x.gif) 1x,
      url(music-equalizer-2x.gif) 2x);
  position: absolute;
  bottom: 10px;
  display: none;
  pointer-events: none;
}

.music.play .equalizer {
  display: block;
}

[dir=ltr] .equalizer {
  right: 10px;
}

[dir=rtl] .equalizer {
  left: 10px;
}

#music-app .song-name {
  font: 16px/16px 'Roboto-Light', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
  margin: 7px 10px 0;
  -webkit-flex: none;
}

#music-app .music.main .song-name {
  font-size: 20px;
  line-height: 23px;
}

#music-app .artist-name {
  font: 13px/16px 'Roboto-Light', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa;
  margin: 0 10px;
  -webkit-flex: 1 0 auto;
}

#music-app .music.main .artist-name {
  font-size: 14px;
  line-height: 17px;
}

#music-app .music-footer {
  margin: 0 10px;
  border-top: 1px solid #eee;
  padding-top: 3px;
  padding-bottom: 3px;
  font: 12px/14px 'Roboto-ThinItalic', sans-serif;
  color: #8d8d8d;
  height: 28px;
  -webkit-flex: none;
}

#music-app .music.main .music-footer {
  font-size: 13px;
}
