@charset "utf-8";

#store-app .app-icon {
  background-image: -webkit-image-set(
      url(store-icon-64.png) 1x,
      url(store-icon-128.png) 2x);
}

#store-app .sec-header-icon.thousands {
  background-image: -webkit-image-set(
      url(store-section-thousands-1x.png) 1x,
      url(store-section-thousands-2x.png) 2x);
}

#store-app .sec-header-icon.stability {
  background-image: -webkit-image-set(
      url(store-section-stability-1x.png) 1x,
      url(store-section-stability-2x.png) 2x);
}

#store-app .sec-header-icon.install {
  background-image: -webkit-image-set(
      url(store-section-install-1x.png) 1x,
      url(store-section-install-2x.png) 2x);
}

.app {
  width: 220px;
  padding: 8px;
  padding-top: 156px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  border: 1px solid #cecece;
  -webkit-flex: 0 0 auto;
  -webkit-margin-end: -1px;
  margin-bottom: -1px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.app.disable {
  display: none;
}

.app.bejeweled {
  background-image: url(store-tile-bejeweled.png);
}

.app.deezer {
  background-image: url(store-tile-deezer.jpg);
}

.app.gmail {
  background-image: url(store-tile-gmail.jpg);
}

.app.kindle {
  background-image: url(store-tile-kindle.png);
}

.app.netflix {
  background-image: url(store-tile-netflix.png);
}

.app.pandora {
  background-image: url(store-tile-pandora.jpg);
}

.app.pixlr {
  background-image: url(store-tile-pixlr.png);
}

.app.plus {
  background-image: url(store-tile-plus.png);
}

.app.remotedesktop {
  background-image: url(store-tile-remotedesktop.png);
}

.app.sheets {
  background-image: url(store-tile-sheets.png);
}

.app.slides {
  background-image: url(store-tile-slides.png);
}

.app.spotify {
  background-image: url(store-tile-spotify.png);
}

.app.tweetdeck {
  background-image: url(store-tile-tweetdeck.png);
}

.app.youtube {
  background-image: url(store-tile-youtube.png);
}

.app.drive {
  background-image: url(store-tile-drive.png);
}

.app.new-york-times {
  background-image: url(store-tile-new-york-times.jpg);
}

.app.hangouts {
  background-image: url(store-tile-hangouts.jpg);
}

.app.evernote {
  background-image: url(store-tile-evernote.jpg);
}

.app.play-us {
  background-image: url(store-tile-play.png);
}

.app.play-uk {
  background-image: url(store-tile-play.png);
}

.app.calendar {
  background-image: url(store-tile-calendar.jpg);
}

.app.angry-birds {
  background-image: url(store-tile-angry-birds.jpg);
}

.app.camera {
  background-image: url(store-tile-camera.png);
}

.app.docs {
  background-image: url(store-tile-docs.png);
}

.app.calculator {
  background-image: url(store-tile-calculator.png);
}

.app-container {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  margin: 40px auto;
  width: 711px;
}

.app-title {
  font-family: 'OpenSans-Regular', Arial;
  font-weight: bold;
  font-size: 13px;
  line-height: 100%;
  margin-bottom: 4px;
}

.app-detail {
  font: 13px/100% 'OpenSans-Regular', sans-serif;
}

.app-detail.star-XXx {
  height: 13px;
  background: url(store-star-black.png) no-repeat 0 1px,
              url(store-star-black.png) no-repeat 11px 1px,
              url(store-star-half.png) no-repeat 22px 1px,
              url(store-star-white.png) no-repeat 33px 1px,
              url(store-star-white.png) no-repeat 44px 1px;
}

.app-detail.star-XXX {
  height: 13px;
  background: url(store-star-black.png) no-repeat 0 1px,
              url(store-star-black.png) no-repeat 11px 1px,
              url(store-star-black.png) no-repeat 22px 1px,
              url(store-star-white.png) no-repeat 33px 1px,
              url(store-star-white.png) no-repeat 44px 1px;
}

.app-detail.star-XXXXx {
  height: 13px;
  background: url(store-star-black.png) no-repeat 0 1px,
              url(store-star-black.png) no-repeat 11px 1px,
              url(store-star-black.png) no-repeat 22px 1px,
              url(store-star-black.png) no-repeat 33px 1px,
              url(store-star-half.png) no-repeat 44px 1px;
}

.app-detail.star-XXXX {
  height: 13px;
  background: url(store-star-black.png) no-repeat 0 1px,
              url(store-star-black.png) no-repeat 11px 1px,
              url(store-star-black.png) no-repeat 22px 1px,
              url(store-star-black.png) no-repeat 33px 1px,
              url(store-star-white.png) no-repeat 44px 1px;
}
