@font-face {
  font-family: 'OpenSans-Light';
  src: url('/font/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/font/OpenSans-Regular.ttf') format('truetype');
}
