#hangouts-app .app-icon {
  background-image: url('/img/hangouts_icon.png');
}

#hangouts-app .video-source,
#hangouts-app .video-canvas {
  width: 720px;
  height: 540px;
  background-color: #ccc;
}

#hangouts-app .video-source {
  display: none;
}
