[submodule "third-party/glfx.js"]
	path = third-party/glfx.js
	url = https://github.com/evanw/glfx.js.git
[submodule "third-party/ccv"]
	path = third-party/ccv
	url = https://github.com/liuliu/ccv.git
[submodule "chrome-cam"]
	path = chrome-cam
	url = https://github.com/telerik/chrome-cam.git
[submodule "third-party/chrome-cam"]
	path = third-party/chrome-cam
	url = https://github.com/telerik/chrome-cam.git
