<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="docs-app.css">
<script src="util.js"></script>
<script src="app.js"></script>
<script src="edit-distance.js"></script>
<script src="editor.js"></script>
<script src="paper-edit-adapter.js"></script>
<script src="docs-app.js"></script>

<div id="docs-app" class="app-frame">
  <button class="close"></button>
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-content="DOC_COPY"></div>
      <div class="app-sub-copy" i18n-content="DOC_SUB_COPY"></div>
      <div class="app-description" i18n-content="DOC_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon group">
        </div>
        <div class="sec-header-text" i18n-content="DOCS_SECTION_GROUP_TITLE">
        </div>
      </div>
      <div class="sec-description"
           i18n-content="DOCS_SECTION_GROUP_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon backup">
        </div>
        <div class="sec-header-text"
             i18n-content="DOCS_SECTION_BACKUP_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="DOCS_SECTION_BACKUP_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon anywhere">
        </div>
        <div class="sec-header-text"
             i18n-content="DOCS_SECTION_ANYWHERE_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="DOCS_SECTION_ANYWHERE_DESCRIPTION"></div>
    </div>

    <div class="app-side-footer">
      <div class="app-hint-title" i18n-content="DOCS_HINT_TITLE"></div>
      <div class="app-hint-description"
           i18n-content="DOCS_HINT_DESCRIPTION"></div>
    </div>
  </div>
  <div id="docs-main" class="app-main">
    <div class="docs-header">
      <div class="docs-title" i18n-content="DOCS_DOCUMENT_TITLE"></div>
      <div class="space"></div>
      <div class="user-icon charles"></div>
      <div class="user-icon edgar"></div>
      <div class="user-icon fredrick"></div>
      <button class="share balloon-holder">
        <div class="share-icon"></div>
        <span class="share-label" i18n-content="DOCS_BUTTON_SHARE"></span>
        <div class="balloon triangle-top"
             i18n-content="DOCS_BALLOON_SHARE"></div>
      </button>
    </div>
    <div class="docs-menu-container">
      <div class="docs-menu balloon-holder">
        <div class="docs-menu-item" i18n-content="DOCS_MENU_FILE"></div>
        <div class="docs-menu-item" i18n-content="DOCS_MENU_EDIT"></div>
        <div class="docs-menu-item" i18n-content="DOCS_MENU_VIEW"></div>
        <div class="docs-menu-item" i18n-content="DOCS_MENU_INSERT"></div>
        <div class="docs-menu-item" i18n-content="DOCS_MENU_FORMAT"></div>
        <div class="docs-menu-item" i18n-content="DOCS_MENU_TOOLS"></div>
        <div class="docs-menu-item" i18n-content="DOCS_MENU_TABLE"></div>
        <div class="docs-menu-item" i18n-content="DOCS_MENU_HELP"></div>
        <div class="balloon triangle-top" i18n-content="DOCS_BALLOON_MENU"></div>
      </div>
    </div>
    <div class="docs-toolbar balloon-holder">
      <div class="balloon triangle-top"
           i18n-content="DOCS_BALLOON_TOOLBAR"></div>
    </div>
    <div class="docs-ruler"></div>
    <div class="paper-scroll-region">
      <div class="paper-container">
        <textarea class="paper"></textarea>
        <div class="measure">
          <span class="measure-text"></span><span class="measure-cursor">&nbsp;</span>
        </div>
        <div class="cursor charles"
             i18n-attr-name="data-user-name"
             i18n-attr-value="DOCS_USER_CHARLES"></div>
        <div class="cursor edgar"
             i18n-attr-name="data-user-name"
             i18n-attr-value="DOCS_USER_EDGAR"></div>
        <div class="cursor fredrick"
             i18n-attr-name="data-user-name"
             i18n-attr-value="DOCS_USER_FREDRICK"></div>
      </div>
    </div>
  </div>
</div>
