<!DOCTYPE html>
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="docs-app.css">

<div id="docs-app" class="app-frame">
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-text>
        <!-- __MSG_DOC_COPY__ -->
        Get stuff done
      </div>
      <div class="app-sub-copy" i18n-text>
        with Google Docs
      </div>
      <div class="app-description" i18n-text>
        <!-- __MSG_DOC_DESCRIPTION__ -->
        Create documents, spreadsheets and presentations and work on them online
        and offline.
      </div>
      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Collaborate
        </div>
      </div>
      <div class="sec-description">
        Click 'share', invite people and work together in real time.
        It's that easy.
      </div>

      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Auto-backups
        </div>
      </div>
      <div class="sec-description">
        With automatic backups to Google Drive,
        you never have to worry about losing your work
        again.
      </div>

      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Access anywhere
        </div>
      </div>
      <div class="sec-description">
        Your work lives in the cloud so you can access
        it from any computer, tablet or smartphone.
      </div>
    </div>
    <div class="app-side-footer">
      __MSG_DOC_HINT_TITLE__
    </div>
  </div>
  <div class="app-main">
    <button class="close">X</button>
    <div class="docs-main">
      <div class="docs-header">
        <div class="docs-header-left">
          <div class="docs-title">Welcome to Goolge Docs</div>
          <div class="docs-menu">
            <div>File</div>
            <div>Edit</div>
            <div>View</div>
            <div>Insert</div>
            <div>Format</div>
            <div>Tools</div>
            <div>Table</div>
            <div>Help</div>
          </div>
        </div>
        <div class="docs-header-right">
          <div class="user-icon"></div>
          <div class="user-icon"></div>
          <div class="user-icon"></div>
          <button class="share">Share</button>
        </div>
      </div>
      <div class="docs-toolbar">
        <button class="bold-button">Bold</button>
      </div>
      <div class="paper-container">
        <div class="paper" contenteditable></div>
        <div class="cursor" user-name="Daichi Hirono"></div>
      </div>
    </div>
  </div>
</div>
