<!DOCTYPE html>
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="hangouts-app.css">

<div id="hangouts-app" class="app-frame">
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-text>
        <!-- __MSG_DOC_COPY__ -->
        Keep in touch
      </div>
      <div class="app-sub-copy" i18n-text>
        with Google Hangouts
      </div>
      <div class="app-description" i18n-text>
        <!-- __MSG_DOC_DESCRIPTION__ -->
        Tak to your friends and family,
        right out of the box. No installation, no setup, no hesitation.
      </div>
      <div class="sec-header">
        <div class="sec-header-icon group">
        </div>
        <div class="sec-header-text">
          Group Video
        </div>
      </div>
      <div class="sec-description">
        Video chat with up to 9 people at the same time. Its fee and easy.
      </div>

      <div class="sec-header">
        <div class="sec-header-icon everywhere">
        </div>
        <div class="sec-header-text">
          Works everywhere
        </div>
      </div>
      <div class="sec-description">
        Connect from your Chromebook,
        tablet or smartphone.
      </div>

      <div class="sec-header">
        <div class="sec-header-icon fun">
        </div>
        <div class="sec-header-text">
          It's a party
        </div>
      </div>
      <div class="sec-description">
        Bring videoconferences to life with effects photos, and emojis.
      </div>
    </div>
    <div class="app-side-footer">
      What about Skype?
    </div>
  </div>
  <div id="hangouts-main" class="app-main">
    <button class="close">X</button>
    <div class="button-container">
      <button class="effects button">
        <div class="button-icon"></div>
        <div class="button-label">Effects</div>
      </button>
      <button class="screenshare button balloon-holder">
        <div class="button-icon"></div>
        <div class="button-label">Screenshare</div>
        <div class="balloon triangle-top">
          __MSG_HANGOUTS_BALLOON_SCREENSHARE__
        </div>
      </button>
      <button class="add button balloon-holder">
        <div class="button-icon"></div>
        <div class="button-label">Add apps</div>
        <div class="balloon triangle-top">
          __MSG_HANGOUTS_BALLOON_ADD__
        </div>
      </button>
      <div class="space"></div>
      <button class="invite button balloon-holder">
        <div class="button-icon"></div>
        <div class="button-label">Invite people</div>
        <div class="balloon triangle-top">
          __MSG_HANGOUTS_BALLOON_INVITE__
        </div>
      </button>
    </div>
    <div class="video-container">
      <video class="video-source">
      </video>
      <canvas class="video-canvas" width="720" height="360"></canvas></div>
    <div class="people-container balloon-holder">
      <div class="people"></div>
      <div class="people"></div>
      <div class="people"></div>
      <div class="people"></div>
      <div class="balloon triangle-bottom">
        __MSG_HANGOUTS_BALLOON_PEOPLE__
      </div>
    </div>
  </div>
</div>
