<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="hangouts-app.css">
<script src="util.js"></script>
<script src="glfx.js"></script>
<script src="ccv.js"></script>
<script src="face.js"></script>
<script src="effects-helper.js"></script>
<script src="effects.js"></script>
<script src="track.js"></script>
<script src="app.js"></script>
<script src="hangouts-app.js"></script>

<div id="hangouts-app" class="app-frame">
  <button class="close" tabindex="-1"></button>
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-content="HANGOUTS_COPY"></div>
      <div class="app-sub-copy" i18n-content="HANGOUTS_SUB_COPY"></div>
      <div class="app-description" i18n-content="HANGOUTS_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon group">
        </div>
        <div class="sec-header-text"
             i18n-content="HANGOUTS_SECTION_GROUP_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="HANGOUTS_SECTION_GROUP_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon nohassle">
        </div>
        <div class="sec-header-text"
             i18n-content="HANGOUTS_SECTION_NOHASSLE_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="HANGOUTS_SECTION_NOHASSLE_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon fun">
        </div>
        <div class="sec-header-text"
             i18n-content="HANGOUTS_SECTION_FUN_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="HANGOUTS_SECTION_FUN_DESCRIPTION"></div>
    </div>

    <div class="app-side-footer" tabindex="1">
      <div class="app-hint-title" i18n-content="HANGOUTS_HINT_TITLE"></div>
      <div class="app-hint-description"
           i18n-content="HANGOUTS_HINT_DESCRIPTION"></div>
    </div>
  </div>
  <div id="hangouts-main" class="app-main">
    <div class="button-container">
      <button class="effects button" tabindex="2">
        <div class="button-icon"></div>
        <div class="button-label" i18n-content="HANGOUTS_BUTTON_EFFECTS"></div>
      </button>
      <button class="screenshare button balloon-holder" tabindex="-1">
        <div class="button-icon"></div>
        <div class="button-label"
             i18n-content="HANGOUTS_BUTTON_SCREENSHARE"></div>
        <div class="balloon triangle-top"
             i18n-content="HANGOUTS_BALLOON_SCREENSHARE"></div>
      </button>
      <button class="add button balloon-holder" tabindex="-1">
        <div class="button-icon"></div>
        <div class="button-label" i18n-content="HANGOUTS_BUTTON_ADD"></div>
        <div class="balloon triangle-top"
             i18n-content="HANGOUTS_BALLOON_ADD"></div>
      </button>
      <div class="space"></div>
      <button class="invite button balloon-holder" tabindex="-1">
        <div class="button-icon"></div>
        <div class="button-label" i18n-content="HANGOUTS_BUTTON_INVITE"></div>
        <div class="balloon triangle-top"
             i18n-content="HANGOUTS_BALLOON_INVITE"></div>
      </button>
    </div>
    <div class="video-container">
      <video class="video-source">
      </video>
      <canvas class="video-canvas" width="800" height="450"></canvas>
      <div class="video-shadow"></div>
    </div>
    <div class="people-container balloon-holder">
      <div class="people robertdo"></div>
      <div class="people erican"></div>
      <div class="people mikefox"></div>
      <div class="people nicholasritz"></div>
      <div class="balloon triangle-bottom"
           i18n-content="HANGOUTS_BALLOON_PEOPLE"></div>
    </div>
  </div>
</div>

<div id="context-menu">
  <li class="context-menu-item licence"
      i18n-content="HANGOUTS_SHOW_LICENCE"></li>
</div>
