<!DOCTYPE html>
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="hangouts-app.css">

<div id="hangouts-app" class="app-frame">
  <button class="close">X</button>
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy">
        __MSG_HANGOUTS_COPY__
      </div>
      <div class="app-sub-copy">
        __MSG_HANGOUTS_SUB_COPY__
      </div>
      <div class="app-description" i18n-text>
        __MSG_HANGOUTS_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon group">
        </div>
        <div class="sec-header-text">
          __MSG_HANGOUTS_SECTION_GROUP_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_HANGOUTS_SECTION_GROUP_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon everywhere">
        </div>
        <div class="sec-header-text">
          __MSG_HANGOUTS_SECTION_EVERYWHERE_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_HANGOUTS_SECTION_EVERYWHERE_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon fun">
        </div>
        <div class="sec-header-text">
          __MSG_HANGOUTS_SECTION_FUN_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_HANGOUTS_SECTION_FUN_DESCRIPTION__
      </div>
    </div>

    <div class="app-side-footer">
      <div class="app-hint-title">__MSG_HANGOUTS_HINT_TITLE__</div>
      <div class="app-hint-description">__MSG_HANGOUTS_HINT_DESCRIPTION__</div>
    </div>
  </div>
  <div id="hangouts-main" class="app-main">
    <div class="button-container">
      <button class="effects button">
        <div class="button-icon"></div>
        <div class="button-label">__MSG_HANGOUTS_BUTTON_EFFECTS__</div>
      </button>
      <button class="screenshare button balloon-holder">
        <div class="button-icon"></div>
        <div class="button-label">__MSG_HANGOUTS_BUTTON_SCREENSHARE__</div>
        <div class="balloon triangle-top">
          __MSG_HANGOUTS_BALLOON_SCREENSHARE__
        </div>
      </button>
      <button class="add button balloon-holder">
        <div class="button-icon"></div>
        <div class="button-label">__MSG_HANGOUTS_BUTTON_ADD__</div>
        <div class="balloon triangle-top">
          __MSG_HANGOUTS_BALLOON_ADD__
        </div>
      </button>
      <div class="space"></div>
      <button class="invite button balloon-holder">
        <div class="button-icon"></div>
        <div class="button-label">__MSG_HANGOUTS_BUTTON_INVITE__</div>
        <div class="balloon triangle-top">
          __MSG_HANGOUTS_BALLOON_INVITE__
        </div>
      </button>
    </div>
    <div class="video-container">
      <video class="video-source">
      </video>
      <canvas class="video-canvas" width="480" height="360"></canvas>
    </div>
    <div class="people-container balloon-holder">
      <div class="people"></div>
      <div class="people"></div>
      <div class="people"></div>
      <div class="people"></div>
      <div class="balloon triangle-bottom">
        __MSG_HANGOUTS_BALLOON_PEOPLE__
      </div>
    </div>
  </div>
</div>
