<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="menu-app.css">
<script src="util.js"></script>
<script src="app.js"></script>
<script src="menu-app.js"></script>

<div class="app-frame loading" id="menu-app">
  <!-- fake window -->
  <div id="menu-window">
    <div class="menu-header">
      <div class="logo"></div>
      <button class="close"></button>
    </div>
    <h1 class="message" i18n-content="MENU_MESSAGE"></h1>
    <p class="description" i18n-content="MENU_DESCRIPTION"></p>
    <div class="bottom-frame">
      <div class="buttons-layout">
        <div class="docs button">
          <div class="button-icon"></div>
          <div class="button-label" i18n-content="MENU_DOCS_BUTTON"></div>
        </div>
        <div class="hangouts button">
          <div class="button-icon"></div>
          <div class="button-label" i18n-content="MENU_HANGOUTS_BUTTON"></div>
        </div>
        <!-- The third button is switched by referring to the veriaion. -->
        <div class="third button">
          <div class="button-icon"></div>
          <div class="button-label"></div>
        </div>
        <div class="store button">
          <div class="button-icon"></div>
          <div class="button-label" i18n-content="MENU_STORE_BUTTON"></div>
        </div>
        <div class="docs shelf-marker"></div>
        <div class="hangouts shelf-marker"></div>
        <div class="third shelf-marker"></div>
        <div class="store shelf-marker"></div>
      </div>
      <div class="footer">
        <span class="learn-more" i18n-content="MENU_LEARN_MORE"></span>
        <span class="language-picker">
          <label>English</label>
          <menu class="language-picker-menu">
            <li>en</li>
            <li>zh-cn</li>
            <li>zh-tw</li>
            <li>nl</li>
            <li>en-gb</li>
            <li>fr</li>
            <li>de</li>
            <li>it</li>
            <li>ms</li>
            <li>pt-br</li>
            <li>ru</li>
            <li>es</li>
            <li>sv</li>
            <li>fi</li>
            <li>Long long long language name</li>
          </menu>
        </span>
      </div>
    </div>
  </div>
</div>
