<!DOCTYPE html>
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="menu-app.css">

<div class="app-frame" id="menu-app">
  <!-- fake window -->
  <div id="menu-window">
    <div class="menu-header">
      <div class="logo"></div>
      <button class="close">X</button>
    </div>
    <h1 class="message">__MSG_MENU_MESSAGE__</h1>
    <p class="description">__MSG_MENU_DESCRIPTION__</p>
    <div class="bottom-frame">
      <div class="buttons-layout">
        <div class="docs button">
          <div class="button-icon"></div>
          <div class="button-label">__MSG_MENU_DOCS_BUTTON__</div>
        </div>
        <div class="hangouts button">
          <div class="button-icon"></div>
          <div class="button-label">__MSG_MENU_HANGOUTS_BUTTON__</div>
        </div>
        <div class="music button">
          <div class="button-icon"></div>
          <div class="button-label">__MSG_MENU_MUSIC_BUTTON__</div>
        </div>
        <div class="store button">
          <div class="button-icon"></div>
          <div class="button-label">__MSG_MENU_STORE_BUTTON__</div>
        </div>
        <div class="arrow"></div>
      </div>
      <div class="learn-more">__MSG_MENU_LEARN_MORE__</div>
    </div>
  </div>
</div>
