<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="menu-app.css">
<script src="util.js"></script>
<script src="app.js"></script>
<script src="menu-app.js"></script>

<div class="app-frame loading" id="menu-app">
  <!-- fake window -->
  <div id="menu-window">
    <div class="menu-header">
      <div class="logo"></div>
      <button class="close" tabindex="-1"></button>
    </div>
    <h1 class="message" i18n-content="MENU_MESSAGE"></h1>
    <p class="description" i18n-content="MENU_DESCRIPTION"></p>
    <div class="bottom-frame">
      <div class="buttons-layout">
        <button class="docs button" tabindex="1">
          <div class="button-icon"></div>
          <div class="button-label" i18n-content="MENU_DOCS_BUTTON"></div>
        </button>
        <button class="hangouts button" tabindex="2">
          <div class="button-icon"></div>
          <div class="button-label" i18n-content="MENU_HANGOUTS_BUTTON"></div>
        </button>
        <!-- The third button is switched by referring to the veriaion. -->
        <button class="third button" tabindex="3">
          <div class="button-icon"></div>
          <div class="button-label"></div>
        </button>
        <button class="store button" tabindex="4">
          <div class="button-icon"></div>
          <div class="button-label" i18n-content="MENU_STORE_BUTTON"></div>
        </button>
        <div class="docs shelf-marker"></div>
        <div class="hangouts shelf-marker"></div>
        <div class="third shelf-marker"></div>
        <div class="store shelf-marker"></div>
      </div>
      <div class="footer">
        <button class="learn-more" i18n-content="MENU_LEARN_MORE" tabindex="5">
        </button>
        <button class="language-picker" tabindex="6">
          <label></label>
          <menu class="language-picker-menu">
            <li i18n-content="LANGUAGE_NAME_MS" data-i18n-code='ms'></li>
            <li i18n-content="LANGUAGE_NAME_DE" data-i18n-code='de'></li>
            <li i18n-content="LANGUAGE_NAME_EN" data-i18n-code='en'></li>
            <li i18n-content="LANGUAGE_NAME_EN_GB" data-i18n-code='en_GB'></li>
            <li i18n-content="LANGUAGE_NAME_EN_CA" data-i18n-code='en_CA'></li>
            <li i18n-content="LANGUAGE_NAME_FR" data-i18n-code='fr'></li>
            <li i18n-content="LANGUAGE_NAME_FR_CA" data-i18n-code='fr_CA'></li>
            <li i18n-content="LANGUAGE_NAME_NL" data-i18n-code='nl'></li>
            <li i18n-content="LANGUAGE_NAME_PT_BR" data-i18n-code='pt_BR'></li>
            <li i18n-content="LANGUAGE_NAME_FI" data-i18n-code='fi'></li>
            <li i18n-content="LANGUAGE_NAME_SV" data-i18n-code='sv'></li>
            <li i18n-content="LANGUAGE_NAME_RU" data-i18n-code='ru'></li>
            <li i18n-content="LANGUAGE_NAME_ZH_CN" data-i18n-code='zh_CN'></li>
          </menu>
        </button>
      </div>
    </div>
  </div>
</div>
