<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="music-app.css">
<script src="util.js"></script>
<script src="app.js"></script>
<script src="music-app.js"></script>

<div id="music-app" class="app-frame">
  <button class="close"></button>
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-text>
        __MSG_MUSIC_COPY__
      </div>
      <div class="app-sub-copy" i18n-text>
        __MSG_MUSIC_SUB_COPY__
      </div>
      <div class="app-description" i18n-text>
        __MSG_MUSIC_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon upload"></div>
        <div class="sec-header-text">
          __MSG_MUSIC_SECTION_UPLOAD_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_MUSIC_SECTION_UPLOAD_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon anywhere"></div>
        <div class="sec-header-text">
          __MSG_MUSIC_SECTION_ANYWHERE_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_MUSIC_SECTION_ANYWHERE_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon unlimited"></div>
        <div class="sec-header-text">
          __MSG_MUSIC_SECTION_UNLIMITED_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_MUSIC_SECTION_UNLIMITED_DESCRIPTION__
      </div>
    </div>

    <div class="app-side-footer">
      <div class="app-hint-title">__MSG_MUSIC_HINT_TITLE__</div>
      <div class="app-hint-description">__MSG_MUSIC_HINT_DESCRIPTION__</div>
    </div>
  </div>
  <div id="music-main" class="app-main scroll">
    <div class="message-bar">__MSG_MUSIC_MEESAGE_BAR__</div>
    <div class="music-main-body">
      <div class="side-button-container">
        <button class="side-button selected balloon-holder">
          __MSG_MUSIC_SIDE_BUTTON_UPLOAD__
          <div class="balloon triangle-left">
            __MSG_MUSIC_BALLOON_UPLOAD__
          </div>
        </button>
        <button class="side-button balloon-holder">
          __MSG_MUSIC_SIDE_BUTTON_LIBRARY__
          <div class="balloon triangle-left">
            __MSG_MUSIC_BALLOON_LIBRARY__
          </div>
        </button>
        <button class="side-button balloon-holder">
          __MSG_MUSIC_SIDE_BUTTON_MIXES__
          <div class="balloon triangle-left">
            __MSG_MUSIC_BALLOON_MIXES__
          </div>
        </button>
        <button class="side-button balloon-holder">
          __MSG_MUSIC_SIDE_BUTTON_SHOP__
          <div class="balloon triangle-left">
            __MSG_MUSIC_BALLOON_SHOP__
          </div>
        </button>
        <button class="side-button balloon-holder">
          __MSG_MUSIC_SIDE_BUTTON_PLAYLISTS__
          <div class="balloon triangle-left">
            __MSG_MUSIC_BALLOON_PLAYLISTS__
          </div>
        </button>
      </div>
      <div class="music-container">
        <div class="main music">
          <audio class="main-music-audio"></audio>
          <div class="album-cover">
            <button class="play-control"></button>
            <div class="equalizer"></div>
          </div>
          <div class="song-name">__MSG_MUSIC_LUMINEERS_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_LUMINEERS_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_LUMINEERS_FOOTER_MESSAGE__</div>
        </div>
        <div class="music maroon5">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_MAROON5_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_MAROON5_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_MAROON5_FOOTER_MESSAGE__</div>
        </div>
        <div class="music florence">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_FLORENCE_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_FLORENCE_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_FLORENCE_FOOTER_MESSAGE__</div>
        </div>
        <div class="music blake-shelton">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_BLAKE_SHELTON_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_BLAKE_SHELTON_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_BLAKE_SHELTON_FOOTER_MESSAGE__</div>
        </div>
        <div class="music tiesto">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_TIESTO_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_TIESTO_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_TIESTO_FOOTER_MESSAGE__</div>
        </div>
        <div class="music mika">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_MIKA_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_MIKA_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_MIKA_FOOTER_MESSAGE__</div>
        </div>
        <div class="music one-republic">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_ONE_REPUBLIC_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_ONE_REPUBLIC_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_ONE_REPUBLIC_FOOTER_MESSAGE__</div>
        </div>
        <div class="music muse">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_MUSE_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_MUSE_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_MUSE_FOOTER_MESSAGE__</div>
        </div>
        <div class="music frank-ocean">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_FRANK_OCEAN_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_FRANK_OCEAN_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_FRANK_OCEAN_FOOTER_MESSAGE__</div>
        </div>
        <div class="music imagine-dragons">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_IMAGINE_DRAGONS_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_IMAGINE_DRAGONS_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_IMAGINE_DRAGONS_FOOTER_MESSAGE__</div>
        </div>
        <div class="music the-doors">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_THE_DOORS_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_THE_DOORS_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_THE_DOORS_FOOTER_MESSAGE__</div>
        </div>
        <div class="music tegan-and-sara">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_TEGAN_AND_SARA_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_TEGAN_AND_SARA_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_TEGAN_AND_SARA_FOOTER_MESSAGE__</div>
        </div>
        <div class="music ellie-goulding">
          <div class="album-cover"></div>
          <div class="song-name">__MSG_MUSIC_ELLIE_GOULDING_SONG_NAME__</div>
          <div class="artist-name">__MSG_MUSIC_ELLIE_GOULDING_ARTIST_NAME__</div>
          <div class="music-footer">__MSG_MUSIC_ELLIE_GOULDING_FOOTER_MESSAGE__</div>
        </div>
      </div>
    </div>
  </div>
</div>
