<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="music-app.css">
<script src="util.js"></script>
<script src="app.js"></script>
<script src="music-app.js"></script>

<div id="music-app" class="app-frame">
  <button class="close" tabindex="-1"></button>
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-content="MUSIC_COPY"></div>
      <div class="app-sub-copy" i18n-content="MUSIC_SUB_COPY"></div>
      <div class="app-description" i18n-content="MUSIC_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon upload"></div>
        <div class="sec-header-text"
             i18n-content="MUSIC_SECTION_UPLOAD_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="MUSIC_SECTION_UPLOAD_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon anywhere"></div>
        <div class="sec-header-text"
             i18n-content="MUSIC_SECTION_ANYWHERE_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="MUSIC_SECTION_ANYWHERE_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon unlimited"></div>
        <div class="sec-header-text"
             i18n-content="MUSIC_SECTION_UNLIMITED_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="MUSIC_SECTION_UNLIMITED_DESCRIPTION"></div>
    </div>

    <div class="app-side-footer" tabindex="1">
      <div class="app-hint-title" i18n-content="MUSIC_HINT_TITLE"></div>
      <div class="app-hint-description"
           i18n-content="MUSIC_HINT_DESCRIPTION"></div>
    </div>
  </div>
  <div id="music-main" class="app-main scroll">
    <div id="scrolled-contents">
      <div class="message-bar" i18n-content="MUSIC_MEESAGE_BAR"></div>
      <div class="music-main-body">
        <div class="side-button-container">
          <button class="side-button selected balloon-holder" tabindex="-1">
            <span i18n-content="MUSIC_SIDE_BUTTON_UPLOAD"></span>
            <div class="balloon triangle-left"
                 i18n-content="MUSIC_BALLOON_UPLOAD" tabindex="1"></div>
          </button>
          <button class="side-button balloon-holder" tabindex="-1">
            <span i18n-content="MUSIC_SIDE_BUTTON_LIBRARY"></span>
            <div class="balloon triangle-left"
                 i18n-content="MUSIC_BALLOON_LIBRARY" tabindex="1"></div>
          </button>
          <button class="side-button balloon-holder" tabindex="-1">
            <span i18n-content="MUSIC_SIDE_BUTTON_MIXES"></span>
            <div class="balloon triangle-left"
                 i18n-content="MUSIC_BALLOON_MIXES" tabindex="1"></div>
          </button>
          <button class="side-button balloon-holder" tabindex="-1">
            <span i18n-content="MUSIC_SIDE_BUTTON_SHOP"></span>
            <div class="balloon triangle-left"
                 i18n-content="MUSIC_BALLOON_SHOP" tabindex="1"></div>
          </button>
          <button class="side-button balloon-holder" tabindex="-1">
            <span i18n-content="MUSIC_SIDE_BUTTON_PLAYLISTS"></span>
            <div class="balloon triangle-left"
                 i18n-content="MUSIC_BALLOON_PLAYLISTS" tabindex="1"></div>
          </button>
        </div>
        <div class="music-container">
          <div class="main music">
            <audio class="main-music-audio"></audio>
            <div class="album-cover">
              <button class="play-control" tabindex="2"></button>
              <div class="equalizer"></div>
            </div>
            <div class="song-name"
                 i18n-content="MUSIC_LUMINEERS_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_LUMINEERS_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_LUMINEERS_FOOTER_MESSAGE"></div>
          </div>
          <div class="music maroon5">
            <div class="album-cover"></div>
            <div class="song-name" i18n-content="MUSIC_MAROON5_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_MAROON5_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_MAROON5_FOOTER_MESSAGE"></div>
          </div>
          <div class="music florence">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_FLORENCE_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_FLORENCE_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_FLORENCE_FOOTER_MESSAGE"></div>
          </div>
          <div class="music blake-shelton">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_BLAKE_SHELTON_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_BLAKE_SHELTON_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_BLAKE_SHELTON_FOOTER_MESSAGE"></div>
          </div>
          <div class="music tiesto">
            <div class="album-cover"></div>
            <div class="song-name" i18n-content="MUSIC_TIESTO_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_TIESTO_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_TIESTO_FOOTER_MESSAGE"></div>
          </div>
          <div class="music mika">
            <div class="album-cover"></div>
            <div class="song-name" i18n-content="MUSIC_MIKA_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_MIKA_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_MIKA_FOOTER_MESSAGE"></div>
          </div>
          <div class="music one-republic">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_ONE_REPUBLIC_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_ONE_REPUBLIC_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_ONE_REPUBLIC_FOOTER_MESSAGE"></div>
          </div>
          <div class="music muse">
            <div class="album-cover"></div>
            <div class="song-name" i18n-content="MUSIC_MUSE_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_MUSE_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_MUSE_FOOTER_MESSAGE"></div>
          </div>
          <div class="music frank-ocean">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_FRANK_OCEAN_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_FRANK_OCEAN_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_FRANK_OCEAN_FOOTER_MESSAGE"></div>
          </div>
          <div class="music imagine-dragons">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_IMAGINE_DRAGONS_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_IMAGINE_DRAGONS_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_IMAGINE_DRAGONS_FOOTER_MESSAGE"></div>
          </div>
          <div class="music the-doors">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_THE_DOORS_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_THE_DOORS_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_THE_DOORS_FOOTER_MESSAGE"></div>
          </div>
          <div class="music tegan-and-sara">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_TEGAN_AND_SARA_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_TEGAN_AND_SARA_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_TEGAN_AND_SARA_FOOTER_MESSAGE"></div>
          </div>
          <div class="music ellie-goulding">
            <div class="album-cover"></div>
            <div class="song-name"
                 i18n-content="MUSIC_ELLIE_GOULDING_SONG_NAME"></div>
            <div class="artist-name"
                 i18n-content="MUSIC_ELLIE_GOULDING_ARTIST_NAME"></div>
            <div class="music-footer"
                 i18n-content="MUSIC_ELLIE_GOULDING_FOOTER_MESSAGE"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
