<!DOCTYPE html>
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="play-app.css">

<div id="play-app" class="app-frame">
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-text>
        <!-- __MSG_DOC_COPY__ -->
        Listen to music
      </div>
      <div class="app-sub-copy" i18n-text>
        with Google Play Music
      </div>
      <div class="app-description" i18n-text>
        <!-- __MSG_DOC_DESCRIPTION__ -->
        Enjoy an endless collection of music and movies from the web with Google
        Play.
      </div>
      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Lots of content
        </div>
      </div>
      <div class="sec-description">
        Google Music and Movies have the latest blockbuster and indie hits!
      </div>

      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Free your music
        </div>
      </div>
      <div class="sec-description">
        Once your music is in the cloud, you get unlimited plays anytime and
        anywhere.
      </div>

      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Access it anywhere
        </div>
      </div>
      <div class="sec-description">
        You can access your content from the web, smartphone or tablet.
      </div>
    </div>
    <div class="app-side-footer">
      What about iTunes?
    </div>
  </div>
  <div id="play-main" class="app-main">
    <button class="close">X</button>
  </div>
</div>
