<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="store-app.css">
<script src="util.js"></script>
<script src="app.js"></script>
<script src="store-app.js"></script>

<div id="store-app" class="app-frame">
  <button class="close"></button>
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-content="STORE_COPY"></div>
      <div class="app-sub-copy" i18n-content="STORE_SUB_COPY_DESCRIPTION"></div>
      <div class="app-description" i18n-content="STORE_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon thousands"></div>
        <div class="sec-header-text"
             i18n-content="STORE_SECTION_THOUSANDS_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="STORE_SECTION_THOUSANDS_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon stability"></div>
        <div class="sec-header-text"
             i18n-content="STORE_SECTION_STABILITY_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="STORE_SECTION_STABILITY_DESCRIPTION"></div>

      <div class="sec-header">
        <div class="sec-header-icon install"></div>
        <div class="sec-header-text"
             i18n-content="STORE_SECTION_INSTALL_TITLE"></div>
      </div>
      <div class="sec-description"
           i18n-content="STORE_SECTION_INSTALL_DESCRIPTION"></div>

    </div>
  </div>
  <div id="store-main" class="app-main scroll">
    <div class="app-container">
      <div class="app bejeweled" data-id="kgimkbnclbekdkabkpjhpakhhalfanda">
        <div class="app-title" i18n-content="STORE_APP_BEJEWELED_TITLE"></div>
        <div class="app-detail star-XXXXx"
             title="__MSG_STORE_APP_BEJEWELED_DETAIL__"></div>
      </div>
      <div class="app cubeslam" data-id="">
        <div class="app-title" i18n-content="STORE_APP_CUBESLAM_TITLE"></div>
        <div class="app-detail star-XXXXx"
             title="__MSG_STORE_APP_CUBESLAM_DETAIL__"></div>
      </div>
      <div class="app deezer" data-id="ebkhfdfghngbimnpgelagnfacdafhaba">
        <div class="app-title" i18n-content="STORE_APP_DEEZER_TITLE"></div>
        <div class="app-detail" i18n-content="STORE_APP_DEEZER_DETAIL"></div>
      </div>
      <div class="app gmail" data-id="bjdhhokmhgelphffoafoejjmlfblpdha">
        <div class="app-title" i18n-content="STORE_APP_GMAIL_TITLE"></div>
        <div class="app-detail" i18n-content="STORE_APP_GMAIL_DETAIL"></div>
      </div>
      <div class="app kindle" data-id="diehajhcjifpahdplfdkhiboknagmfii">
        <div class="app-title" i18n-content="STORE_APP_KINDLE_TITLE"></div>
        <div class="app-detail" i18n-content="STORE_APP_KINDLE_DETAIL"></div>
      </div>
      <div class="app netflix" data-id="kkkbcoabfhgekpnddfkaphobhinociem">
        <div class="app-title" i18n-content="STORE_APP_NETFLIX_TITLE"></div>
        <div class="app-detail" i18n-content="STORE_APP_NETFLIX_DETAIL"></div>
      </div>
      <div class="app pandora" data-id="">
        <div class="app-title" i18n-content="STORE_APP_PANDORA_TITLE"></div>
        <div class="app-detail star-XXXX"
             title="__MSG_STORE_APP_PANDORA_DETAIL__"></div>
      </div>
      <div class="app pixlr" data-id="">
        <div class="app-title" i18n-content="STORE_APP_PIXLR_TITLE"></div>
        <div class="app-detail star-XXXXx"
             title="__MSG_STORE_APP_PIXLR_DETAIL__"></div>
      </div>
      <div class="app plus" data-id="fgjnkhlabjcaajddbaenilcmpcidahll">
        <div class="app-title" i18n-content="STORE_APP_PLUS_TITLE"></div>
        <div class="app-detail" i18n-content="STORE_APP_PLUS_DETAIL"></div>
      </div>
      <div class="app remotedesktop" data-id="cdjikkcakjcdjemakobkmijmikhkegcj">
        <div class="app-title" i18n-content="STORE_APP_REMOTEDESKTOP_TITLE"></div>
        <div class="app-detail" i18n-content="STORE_APP_REMOTEDESKTOP_DETAIL"></div>
      </div>
      <div class="app sheets" data-id="nifkmgcdokhkjghdlgflonppnefddien">
        <div class="app-title" i18n-content="STORE_APP_SHEETS_TITLE"></div>
        <div class="app-detail star-XXXX"
             title="__MSG_STORE_APP_SHEETS_DETAIL__"></div>
      </div>
      <div class="app slides" data-id="hdmobeajeoanbanmdlabnbnlopepchip">
        <div class="app-title" i18n-content="STORE_APP_SLIDES_TITLE"></div>
        <div class="app-detail star-XXXX"
             title="__MSG_STORE_APP_SLIDES_DETAIL__"></div>
      </div>
      <div class="app spotify" data-id="">
        <div class="app-title" i18n-content="STORE_APP_SPOTIFY_TITLE"></div>
        <div class="app-detail star-XXXXx"
             title="__MSG_STORE_APP_SPOTIFY_DETAIL__"></div>
      </div>
      <div class="app tweetdeck" data-id="">
        <div class="app-title" i18n-content="STORE_APP_TWEETDECK_TITLE"></div>
        <div class="app-detail star-XXXX"
             title="__MSG_STORE_APP_TWEETDECK_DETAIL__"></div>
      </div>
      <div class="app youtube" data-id="pbdihpaifchmclcmkfdgffnnpfbobefh">
        <div class="app-title" i18n-content="STORE_APP_YOUTUBE_TITLE"></div>
        <div class="app-detail" i18n-content="STORE_APP_YOUTUBE_DETAIL"></div>
      </div>
    </div>
  </div>
</div>
