<!DOCTYPE html>
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="store-app.css">

<div id="store-app" class="app-frame">
  <button class="close">X</button>
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-text>
        __MSG_STORE_COPY__
      </div>
      <div class="app-sub-copy" i18n-text>
        __MSG_STORE_SUB_COPY_DESCRIPTION__
      </div>
      <div class="app-description" i18n-text>
        __MSG_STORE_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon thousands"></div>
        <div class="sec-header-text">
          __MSG_STORE_SECTION_THOUSANDS_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_STORE_SECTION_THOUSANDS_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon offline"></div>
        <div class="sec-header-text">
          __MSG_STORE_SECTION_OFFLINE_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_STORE_SECTION_OFFLINE_DESCRIPTION__
      </div>

      <div class="sec-header">
        <div class="sec-header-icon install"></div>
        <div class="sec-header-text">
          __MSG_STORE_SECTION_INSTALL_TITLE__
        </div>
      </div>
      <div class="sec-description">
        __MSG_STORE_SECTION_INSTALL_DESCRIPTION__
      </div>

    </div>
    <!--div class="app-side-footer">
      What about Skype?
    </div-->
  </div>
  <div id="store-main" class="app-main scroll">
    <div class="app top"></div>
    <div class="app-container">
      <div class="app bejeweled" data-id="adpkifcfcacgmnggcbpbjbkdijciiigm">
        <div class="app-title">__MSG_STORE_APP_BEJEWELED_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_BEJEWELED_DETAIL__</div>
      </div>
      <div class="app cubeslam" data-id="pkcoeeddamedegogbcmdbadnoifmfipn">
        <div class="app-title">__MSG_STORE_APP_CUBESLAM_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_CUBESLAM_DETAIL__</div>
      </div>
      <div class="app deezer">
        <div class="app-title">__MSG_STORE_APP_DEEZER_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_DEEZER_DETAIL__</div>
      </div>
      <div class="app gmail">
        <div class="app-title">__MSG_STORE_APP_GMAIL_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_GMAIL_DETAIL__</div>
      </div>
      <div class="app kindle">
        <div class="app-title">__MSG_STORE_APP_KINDLE_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_KINDLE_DETAIL__</div>
      </div>
      <div class="app netflix">
        <div class="app-title">__MSG_STORE_APP_NETFLIX_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_NETFLIX_DETAIL__</div>
      </div>
      <div class="app pandora">
        <div class="app-title">__MSG_STORE_APP_PANDORA_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_PANDORA_DETAIL__</div>
      </div>
      <div class="app pixlr">
        <div class="app-title">__MSG_STORE_APP_PIXLR_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_PIXLR_DETAIL__</div>
      </div>
      <div class="app plus">
        <div class="app-title">__MSG_STORE_APP_PLUS_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_PLUS_DETAIL__</div>
      </div>
      <div class="app remotedesktop">
        <div class="app-title">__MSG_STORE_APP_REMOTEDESKTOP_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_REMOTEDESKTOP_DETAIL__</div>
      </div>
      <div class="app sheets">
        <div class="app-title">__MSG_STORE_APP_SHEETS_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_SHEETS_DETAIL__</div>
      </div>
      <div class="app slides">
        <div class="app-title">__MSG_STORE_APP_SLIDES_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_SLIDES_DETAIL__</div>
      </div>
      <div class="app spotify">
        <div class="app-title">__MSG_STORE_APP_SPOTIFY_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_SPOTIFY_DETAIL__</div>
      </div>
      <div class="app tweetdeck">
        <div class="app-title">__MSG_STORE_APP_TWEETDECK_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_TWEETDECK_DETAIL__</div>
      </div>
      <div class="app youtube">
        <div class="app-title">__MSG_STORE_APP_YOUTUBE_TITLE__</div>
        <div class="app-detail">__MSG_STORE_APP_YOUTUBE_DETAIL__</div>
      </div>
    </div>
  </div>
</div>
