<!DOCTYPE html>
<link rel="stylesheet" href="common.css">
<link rel="stylesheet" href="game-app.css">

<div id="hangouts-app" class="app-frame">
  <div class="app-side">
    <div class="app-side-body">
      <div class="app-icon"></div>
      <div class="app-copy" i18n-text>
        <!-- __MSG_DOC_COPY__ -->
        Keep in touch
      </div>
      <div class="app-sub-copy" i18n-text>
        with Google Hangouts
      </div>
      <div class="app-description" i18n-text>
        <!-- __MSG_DOC_DESCRIPTION__ -->
        Tak to your friends and family,
        right out of the box. No installation, no setup, no hesitation.
      </div>
      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Group Video
        </div>
      </div>
      <div class="sec-description">
        Video chat with up to 9 people at the same time. Its fee and easy.
      </div>

      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          Works everywhere
        </div>
      </div>
      <div class="sec-description">
        Connect from your Chromebook,
        tablet or smartphone.
      </div>

      <div class="sec-header">
        <div class="sec-header-icon">
        </div>
        <div class="sec-header-text">
          It's a party
        </div>
      </div>
      <div class="sec-description">
        Bring videoconferences to life with effects photos, and emojis.
      </div>
    </div>
    <div class="app-side-footer">
      What about Skype?
    </div>
  </div>
  <div id="hangouts-main" class="app-main">
    <button class="close">X</button>
    <div>
      <button class="prev-effect">Previous Effect</button>
      <button class="next-effect">Next Effect</button>
    </div>
    <video class="video-source">
    </video>
    <canvas class="video-canvas" width="320" height="240">
    </canvas>
  </div>
</div>
